{% if article.share_post and article.status != 'draft' %}
<hr>
<section>
    <p id="post-share-links" style="text-align: center;">
        <span style="margin-right: 15px; font-weight: 600; font-size: 16px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
            Share on:
        </span>

        <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook" style="text-decoration: none; padding-right: 15px;">
            <img src="/{{ THEME_STATIC_DIR }}/images/social_networks/facebook.svg" alt="Facebook" style="height:50px; cursor: auto;"/>
        </a>

        <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter" style="text-decoration: none; padding-right: 15px;">
            <img src="/{{ THEME_STATIC_DIR }}/images/social_networks/twitter.svg" alt="Twitter" style="height:50px; cursor: auto;"/>
        </a>

        <a href="{{article.share_post['linkedin']}}" target="_blank" title="Share on LinkedIn" style="text-decoration: none; padding-right: 15px;">
            <img src="/{{ THEME_STATIC_DIR }}/images/social_networks/linkedin.svg" alt="LinkedIn" style="height:50px; cursor: auto;"/>
        </a>

        <a href="{{article.share_post['hacker-news']}}" target="_blank" title="Share on HackerNews" style="text-decoration: none; padding-right: 15px;">
            <img src="/{{ THEME_STATIC_DIR }}/images/social_networks/hackernews.svg" alt="HackerNews" style="height:50px; cursor: auto;"/>
        </a>

        <a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google+" style="text-decoration: none; padding-right: 15px;">
            <img src="/{{ THEME_STATIC_DIR }}/images/social_networks/gplus.svg" alt="Google+" style="height:50px; cursor: auto;"/>
        </a>
    </p>
</section>
{% endif %}
